body{
  /* background-color: #B9D4F1; */
  background-color: #DCEAE0;
  color: #21273D;
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center; 
}

.navbar{
  padding-top: 30px;
}

.profile_pic{
  width: 50px;
  position: absolute;
  top: 10px;
  left: 50px;
}

.navbar_div{
  text-align: right;
  margin-right: 40px;
}

.navbar_links{
  margin: 0 30px;
  text-decoration: none;
  color: #26402D;
}


.profile{
  text-align: center;
  margin-top: 100px;
  position: relative;
}

.name{
  font-family: 'Sacramento', cursive;
  font-size: 125px;
  margin:auto auto 12px;
}

.describe{
  width: 40%;
  font-size: 15px;
  text-align: left;
  margin-left: 470px;
}

.describe > h2{
  display: inline-block;
}
.describe > img{
  display: inline-block;
  width: 50px;
  margin-left: 10px;
}

.sft{
  height: 600px;
}

.do{
  width: 40%;
  display: inline-block;
}

.whatdo{
  margin-bottom: 90px;
}

.container1, .container3{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.container2, .container4{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.a, .d{
  text-align: left;
  margin-left: 200px;
}
.s, .f{
  text-align: right;
  margin-right: 200px;
}

.a2, .d2{
  text-align: left;
  width: 40%;
}
.s2, .f2{
  text-align: right;
  width: 40%;
  margin-left: 530px;
}

#side_images{
  width: 220px;
}

.last_section{
  width: 50%;
  margin: 0 auto;
  margin-top: 80px;
}

.get_in_touch{
  margin-top: 40px;
  text-align: center;
  margin-left: 20px;
}

.client{
  width: 50%;
  margin: auto;
  position: relative;
}

.btn{
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #3859cd;
  padding: 8px 8px 12px 12px;
  text-decoration: none;
  border: 0px;
  margin-left: 20px;
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  15% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  30% { transform: rotate(-8.0deg) }
  40% { transform: rotate(14.0deg) }
  50% { transform: rotate(-4.0deg) }
  60% { transform: rotate(10.0deg) }
  70% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
 100% { transform: rotate( 0.0deg) }
}

footer{
  padding: 20px 0 8px;
  background-color: #b3d1bb;
  margin-top: 40px;
}
.footer-link{
  margin: 0 40px;
  text-decoration: none;
  color: #26402D;
}